/* ======Google Fonts====== */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&family=Merriweather&family=Noto+Sans:wght@300;400;500&display=swap');

/* ======VARIABLES CSS====== */
:root {
    --header-height: 3.2rem;
    --header-width: 2rem;
    --bg-color: rgba(252, 252, 253, 1);
    --bg-color-grey: rgba(59, 61, 60, 0.08);
    --base-color: rgb(62,46,223);
    --text-color: rgba(0, 0, 0, 0.8);
    --text-color-light: rgba(103, 94, 99, 0.8);
    --body-font: 'Merriweather', sans;
    --biggest-font-size: 2.5rem;
    --big-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.6rem;
    --smaller-font-size: .5rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}
@media screen and (min-width: 1124px) {
    :root {
        --biggest-font-size: 1rem;
        --big-font-size: .8rem;
        --normal-font-size: .7rem;
        --small-font-size: 0.6rem;
        --smaller-font-size: .5rem;
    }
  }

/*======BASE======*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    background-color: var(--bg-color);
    color: var(--text-color);
    /* transition: .4s; For animation dark mode */
  }
  h1{
    font-size: var(--biggest-font-size);
  }
  h2{
    font-size: var(--big-font-size);
  }
  h3{
    font-size: var(--normal-font-size);
  }
  h4{
    font-size: var(--small-font-size);
  }
  p{
    font-size: var(--smaller-font-size);
  }  
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /*====== REUSABLE CSS CLASSES ======*/
.container {
    max-width: 344px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  /*====== HEADER & NAV ======*/
  .header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
  }
  .navbar{
    position: fixed;
    width: 70px;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px ;
    row-gap: 2px;
    /* background-color: aquamarine; */
  }
  .nav-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 25px;
  }
  .navbar a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: auto;
    color: rgb(103, 107, 107);
    font-size: 1.2rem;
  }
  .navbar a:hover{
    background-color: var(--base-color);
    color: var(--bg-color);
    border-radius: 5px;
  }
  .nav-menu{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }



@media screen  and (max-width: 1023px){

    .navbar{
        position: fixed;
        background-color: var(--bg-color);
        box-shadow: 0 4px 12px rgb(224, 215, 215);
        width: 100%;
        height: var(--header-height);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        margin: 0 auto;
        padding: 1.25rem 2.8rem;
        border-radius: .5rem;
    }
    .search-box a{
        margin-bottom: 1.5rem;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
        column-gap: 60px;
    }
    .notification-icon{
        position: fixed;
        padding: 10px 10px;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }
    .navbar img,
    .logout-icon{
        display: none;
    }
}
/* ======Main====== */
.dashboard{
    background-color: var(--bg-color); 
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.profile-section{
    width: 25rem;
    padding-top: 5rem;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.profile-section img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
}
.balance-dashboard{
    height: 20rem;
    padding-left: 2.5rem;
    padding-top: 2rem;
    background-color: var(--bg-color-grey);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;    
}
.balance-box{
    width: 15rem;
    display: flex;
    justify-content: space-between;
}
.dashboard-btn{
    background-color: var(--base-color);
    color: var(--bg-color);
    font-size: var(--normal-font-size);
    width: 20rem;
    height: 4rem;
    border: none;
    border-radius: 10px;
    padding: 20px 110px;
}
.recent-transactions{
    height: 20rem;
    padding-left: 2.5rem;
    padding-top: 2rem;
    background-color: var(--bg-color-grey);
    border-radius: 2rem;
}